backend/target/
frontend/node_modules/
frontend/dist/

.env
.env.*
!.env.example

.idea/
.vscode/
*.iml

backend/login.json
backend/register.json
backend/user-login.json
backend/user-register.json
backend/application.json
backend/admin-job.json
backend/admin-update.json
backend/status.json
backend/invalid-job.json
backend/invalid-put.json
backend/job.json
